{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block navbar %}

{% endblock %}

{% block body %}
    <div class="w-full max-w-sm m-auto mt-12 md:mt-20 px-5">
        <div>
            {{ include('logo.html.twig', {'center' : true}) }}
        </div>
{#        <h1 class="text-center text-2xl font-bold">Register new account</h1>#}

        {% if error.count %}
            <div class="alert alert-error shadow-lg mt-5">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                    <span>{{ error.current.message }}</span>
                </div>
            </div>
        {% endif %}

        {{ form_start(form) }}

        <div class="form-control w-full mt-8">
            <label class="label">
                <span class="label-text">Username</span>
                <span class="label-text-alt">*Required</span>
            </label>
             {{ form_widget(form.username, {'attr' : {
                 'class' :  'input input-bordered w-full',
                 'placeholder' : 'Type username here'
             }}) }}
        </div>
        <div class="form-control w-full mt-10">
            <label class="label">
                <span class="label-text">Password</span>
                <span class="label-text-alt">*Required</span>
            </label>
            {{ form_widget(form.plainPassword.first, {'attr' : {
                'class' : 'input input-bordered w-full',
                'placeholder' : 'Type password here'
            }}) }}
        </div>
        <div class="form-control w-full mt-5">
            <label class="label">
                <span class="label-text">Repeat password</span>
                <span class="label-text-alt">*Required</span>
            </label>
            {{ form_widget(form.plainPassword.second, {'attr' : {
                'class' :  'input input-bordered w-full',
                'placeholder' : 'Repeat password here'
            }}) }}
        </div>
        <div class="mt-5 text-sm font-light text-center">
            <span>Have an account? Login</span>
            <span> <a class="text-secondary font-bold underline" href="{{ path('app_login') }}">here</a></span> !
        </div>
        <div class="mt-12 flex justify-center">
            <a class="btn mr-3" href="{{ path('app_home') }}">Back</a>
            <button class="btn btn-active btn-primary" type="submit">Register</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
