{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="px-8 md:px-28">
            <div class="mt-16 md:mt-24">
                <div>
                    <div class="flex justify-between items-end">
                        <div>
                            <span class="text-3xl md:text-5xl font-bold text-accent-content">Photos</span>
                        </div>
                        <div class="text-right">
                            <div>
                                <span class="text-md md:text-3xl font-semibold text-accent-content">{{ total_uploads }}</span>
                            </div>
                            <div class="-mt-2 md:-mt-1">
                                <span class="text-xs md:text-sm opacity-50">total uploads</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 md:mt-5">
                    <div class="bg-base-300 rounded-md p-2 md:p-4 overflow-x-auto">
                        <form method="get" id="home-form">
                            <input type="hidden" name="page" value="1" id="page-number-input">
                            <input type="hidden" name="category" id="image-category" value="{{ current_category }}">
                            <div class="flex">
                                <div>
                                    <input value="All" type="button" class="{{ current_category == "" ? "text-accent-content bg-base-100 shadow-lg font-medium " : ""}}rounded-md cursor-pointer mx-2 px-5 py-1 md:py-2" data-image-category="" />
                                </div>
                                {% for category in categories %}
                                    <div>
                                        <input value="{{ category.name }}" type="button" class="{{ current_category == category.uuid ? "text-accent-content bg-base-100 shadow-lg font-medium " : "" }}rounded-md cursor-pointer mx-2 px-5 py-1 md:py-2" data-image-category="{{ category.uuid }}" />
                                    </div>
                                {% endfor %}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mt-5 md:mt-10">
                    <section>
                        <div class="grid grid-cols-1 home-md:grid-cols-2 home-lg:grid-cols-3 justify-items-center gap-6">
                            {% for image in paginator.items %}
                            <div class="overflow-hidden rounded-md shadow-xl w-full home-md:w-72">
                                <div class="w-full h-72 relative home-md:w-72">
                                    <img class="object-cover w-full h-full" src="{{ vich_uploader_asset(image) }}">
                                    <div class="absolute inset-0">
                                        <div class="flex justify-between inset-x-0 absolute mt-3">
                                            <div class="ml-3">
                                                <div class="text-lg text-center">
                                                    <i class="far fa-heart text-secondary"></i>
                                                    <span class="ml-1 text-sm font-semibold text-accent-content" data-image-votes-identifier="{{ image.uuid }}" data-image-votes="{{ image.positiveVotes }}">
                                                        {{ image.positiveVotes }}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="mr-3">
                                                <span class="text-sm font-semibold opacity-50">{{ image.updatedAt|date("m/d/Y") }}</span>
                                            </div>
                                        </div>
                                        <div class="flex justify-center inset-x-0 bottom-0 absolute pb-2 bg-gradient-to-t from-black to-transparent flex-wrap">
                                            <div class="w-full text-center">
                                                <span class="px-4 py-0.5 font-semibold text-accent-content text-xs bg-base-300 rounded-md">{{ image.category.name }}</span>
                                            </div>
                                            <div class="mt-2 px-4">
                                                <span class="font-bold text-lg text-accent-content">{{ image.title }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-base-100">
                                    <div class="p-4">
                                        <div class="flex justify-between">
                                            <div class="flex">
                                                <div class="mr-4">
                                                    <div class="h-14 w-14 rounded-md overflow-hidden">
                                                        <a href="{{ path('app_image_user_view',{'username' : image.user.username}) }}">
                                                            <img class="w-full h-full object-cover" src="{{ asset('build/images/userProfileImage.abac95e5.jpg') }}">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div>
                                                        <span class="text-accent-content font-semibold">{{ image.user.username }}</span>
                                                    </div>
                                                    <div class="text-xs">
                                                        <div class="flex">
                                                            <div class="text-left text-accent-content opacity-90 font-semibold">
                                                                <div>
                                                                    <span>323</span>
                                                                </div>
                                                                <div class="-mt-1">
                                                                    <span>32</span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="mr-1 ml-1"></div>
                                                            </div>
                                                            <div class="opacity-70">
                                                                <div>
                                                                    <span>Likes</span>
                                                                </div>
                                                                <div class="-mt-1">
                                                                    <span>Shares</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="h-full w-1 bg-black opacity-10 rounded-md"></div>
                                            </div>
                                            <div class="flex justify-center items-center">
                                                <div class="h-full">
{#                                                    <span>Or false if down</span>#}
                                                    <a href="{{ path('app_image_view',{'uuid' : image.uuid}) }}" {{ image.isLikedByUser ? 'data-vote-type="false"' : 'data-vote-type="true"' }}  data-like-button="{{ image.uuid }}" type="button" class="px-5 btn rounded-md h-full font-black text-accent-content">
                                                        <span class="bg-gradient-to-r from-cyan-400 text-lg to-blue-500 bg-clip-text text-transparent">View</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%  endfor %}
                        </div>
                    </section>
                </div>
                <div class="mt-10 mb-5">
                    {{ knp_pagination_render(paginator,'/extensions/paginatorFooter.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
