{% extends 'base.html.twig' %}

{% block javascripts %}

    {{ encore_entry_script_tags('app') }}

{% endblock %}


{% block stylesheets %}

    {{ encore_entry_link_tags('app') }}

{% endblock %}


{% block body %}

    <div class="px-8 md:px-28">
        <div class="mt-20">
            <div class="shadow-lg rounded-md overflow-hidden">
                <div class="p-5 bg-base-100">
                    <div class="flex justify-between items-center">
                        <div>
                            <div>
                                <div class="flex h-16">
                                    <div class="w-16 rounded-md overflow-hidden">
                                        <img class="w-full h-full object-cover" src="{{ asset('build/images/userProfileImage.abac95e5.jpg') }}">
                                    </div>
                                    <div class="h-full w-0.5 mx-5 bg-base-200"></div>
                                    <div class="text-xs">
                                        <div class="-mt-1">
                                            <span class="text-accent-content text-xl font-bold">{{ image.title }}</span>
                                        </div>
                                        <div class="flex h-4 mt-1">
                                            <div>
                                                <span class="font-semibold">{{ image.updatedAt|date("m/d/Y")  }}</span>
                                            </div>
                                            <div class="bg-base-200 h-full w-0.5 mx-2"></div>
                                            <div>
                                                <span class="font-semibold bg-base-300 px-2 py-1 rounded-md">{{ image.category.name }}</span>
                                            </div>
                                        </div>
                                        <div class="mt-1">
                                            <div>
                                                <span class="text-accent-content font-bold text-md">
                                                    {{ image.user.username }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex h-12 mr-2">
                                <div class="btn-group">
                                    <button class="h-full btn text-lg" id="pixel-like" data-image-id="{{ image.uuid }}">
                                        <span class="text-secondary mr-4">
                                            <i class="fas fa-heart"></i>
                                        </span>
                                        <span class="text-base" id="pixel-like-number-span" data-user-liked="{{ image.isLikedByUser ? 'true' : 'false' }}" data-like-number="{{ image.positiveVotes }}">
                                            {{ image.positiveVotes }}
                                        </span>
                                    </button>
                                    <div class="h-full w-0.5 bg-base-100"></div>
                                    <button class="h-full btn text-lg" id="pixel-dislike" data-image-id="{{ image.uuid }}">
                                        <i class="fas fa-heart-broken"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-base-300">
                    <img class="mx-auto" src="{{ vich_uploader_asset(image) }}">
                </div>
                <div class="bg-base-100 p-5">
                    <div>
                        <div class="form-control w-ful">
                            <label class="label pt-0">
                                <span class="label-text">Type your comment here !</span>
                                <span class="label-text">
                                <span class="mr-1">
                                    Comments:
                                </span>
                                <span class="text-accent-content font-bold">
                                    {{ comment_count }}
                                </span>
                            </span>
                            </label>
                            {{ form_start(form) }}
                            <label class="input-group w-full">
                                {{ form_widget(form.content, {'attr' : {'class' : 'input input-bordered w-full'}}) }}
                                <button class="btn" type="submit">Add comment</button>
                            </label>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    {% if comment_count %}
                        <div class="mt-10">
                            <div>
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                                    {% for comment in image.comments %}
                                    <div class="bg-base-200 p-3 rounded-md">
                                        <div class="flex">
                                            <div>
                                                <div class="h-8 w-8">
                                                    <img class="rounded-md h-full w-full object-cover" src="{{ asset('build/images/userProfileImage.abac95e5.jpg') }}">
                                                </div>
                                            </div>
                                            <div>
                                                <div class="ml-2">
                                                    <div class="-mt-1">
                                                        <span class="font-medium text-sm">
                                                            {{ comment.user.username }}
                                                        </span>
                                                    </div>
                                                    <div class="-mt-2">
                                                        <span class="text-xs">
                                                            {{ comment.date|date('m/d/Y') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-1 leading-tight">
                                            <span class="text-xs comment-section ">
                                                {{ comment.content }}
                                            </span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif  %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}