<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://kit.fontawesome.com/8cb3256003.js" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body data-menu-open="false">
        <main>
            <div class="flex justify-center">
                <div class="w-full max-w-6xl bg-base-200 min-h-screen">
                    <header>
                        {% block navbar %}
                            {{ include('navbar.html.twig', {'center' : false}) }}
                        {% endblock %}
                    </header>
                    <div>
                        {% block body %}

                        {% endblock %}
                    </div>
                    <footer>
                        {% block footer %}

                        {% endblock %}
                    </footer>
                </div>
            </div>
        </main>
        <aside>
            <input type="checkbox" id="mobile-menu-modal" class="modal-toggle" />
            <div class="modal">
                <div class="modal-box relative">
                    <h3 class="text-xl font-bold">Menu</h3>
                    <label for="mobile-menu-modal" class="btn btn-sm btn-circle absolute right-2 top-2">
                        <i class="fas fa-times"></i>
                    </label>
                    <div class="mt-8">
                        <div class="flex between mt-5">
                            {% if app.user %}
                                <div>
                                    <a href="{{ path('app_image') }}">
                                        <div class="w-full h-full p-0.5 flex">
                                            <div class="bg-base-200 flex items-center px-4 rounded-md uppercase flex-wrap text-center">
                                                <div class="mt-5 w-full">
                                                    <i class="fas fa-upload text-cyan-400 text-lg"></i>
                                                </div>
                                                <div class="text-accent-content w-full mb-5 font-bold text-sm">Upload</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                            <div class="w-full {{ app.user ? "ml-5" : ""}}">
                                {% if app.user %}
                                    <div class="w-full">
                                        <a class="btn w-full" href="{{ path('app_logout') }}">Profile</a>
                                    </div>
                                    <div class="w-full mt-1">
                                        <a class="btn w-full" href="{{ path('app_logout') }}">Your uploads</a>
                                    </div>
                                {% else %}
                                    <div class="w-full">
                                        <a class="btn w-full" href="{{ path('app_register') }}">Register</a>
                                    </div>
                                    <div class="w-full mt-1">
                                        <a class="btn w-full" href="{{ path('app_login') }}">Login</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if app.user %}
                            <div class="h-1 w-3/4 bg-base-200 mx-auto mt-5 rounded-lg"></div>
                            <div class="mt-2">
                                <a class="btn font-bold text-md w-full btn-outline border-0" href="{{ path('app_logout') }}">
                                    <i class="fas fa-power-off text-lg"></i>
                                    <span class="ml-3">
                                    Logout
                                </span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </aside>
    </body>
</html>
